body {
    font-family: "pretendard", sans-serif;
    color: white;
    /* background-color: #092032; */
    /* background-color: #092032; */
    background: linear-gradient(-27deg, #092032, #092032);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    width: 100vw;
    height: 80vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    margin: 1.2vh 2vw 0 2vw;
    width: 90vw;
    height: auto;
}

.main-title {
    font-size: 6vw;
    font-weight: 800;
}

.main-logo {
    font-size: 3.5vw;
    font-weight: 500;
}

.spacer {
    height: 15vw;
}

pre {
    font-family: "pretendard", sans-serif;
}

a {
    text-decoration: underline;
    color: white;
    font-size: 3vw;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}